@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* 
body {
   color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb); 
} */

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrCalendarWrapper.rdrDateRangeWrapper,
.rdrMonthAndYearWrapper,
.rdrMonths,
.rdrMonth {
  width: 100% !important;
}

.loader {
  border-top-width: 0.5rem;
  border-bottom-width: 0.5rem;
  border-radius: 99999px;
  width: 100px;
  height: 100px;
  border-left-color: lightcoral;
  border-right-color: lightcoral;
  border-top-color: #a7a7a7;
  border-bottom-color: #a7a7a7;
  animation-duration: infinite;
  -webkit-border-radius: 99999px;
  -moz-border-radius: 99999px;
  -ms-border-radius: 99999px;
  -o-border-radius: 99999px;
}
